
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>teaching_hour</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    <div>
            <div id="title" style="text-align:center;">
            <div class="line-title"></div>
            <i class="layui-icon layui-icon-chart" style="font-size:35px;"><i style="font-size:18px;">员工费用统计</i> </i>
            <div class="line-title"></div>
            </div>

            <div class="layui-collapse" lay-accordion>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        无法定节假日
                        <i class="layui-icon layui-colla-icon"></i>
                    </h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">部门</label>
                                <div class="layui-input-inline">
                                    <select name="DeptID" id="dep_select" style="width:400px" lay-filter="dep_select" lay-search="">
                                        <option value="0">所有</option>
                                        @{
                                            foreach (var item in ViewBag.deps as List<Department>)
                                            {
                                                <option value="@item.DeptId">@item.DeptName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="date" style="width:400px" id="test11" placeholder="yyyy年MM月">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">单休双休</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="IsDanxiu1" value="0" title="单休">
                                    <input type="radio" name="IsDanxiu1" value="1" title="双休" checked>
                                </div>
                            </div>

                            <div class="layui-form-item" style="display:none">
                                <label class="layui-form-label">节假日天数</label>
                                <div class="layui-input-inline">
                                    <input type="number"  name="jiejiari" value="0" style="width:400px" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-radius" lay-submit lay-filter="Btn_Cost1">开始统计</button>&emsp;
                                    <button class="layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="Btn_SaveExcel1">下载文件</button>&emsp;
                                    <button class="layui-btn layui-btn-radius layui-btn-warm" lay-submit lay-filter="Btn_UpExcel1">上传保存文件</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-collapse" lay-accordion>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        有法定节假日
                        <i class="layui-icon layui-colla-icon"></i>
                    </h2>
                    <div class="layui-colla-content layui-show">
                        <div class="layui-form" action="">

                            <div class="layui-form-item">
                                <label class="layui-form-label">部门</label>
                                <div class="layui-input-inline">
                                    <select name="DeptID" id="dep_select" style="width:400px" lay-filter="dep_select" lay-search="">
                                        <option value="0">所有</option>
                                        @{
                                            foreach (var item in ViewBag.deps as List<Department>)
                                            {
                                                <option value="@item.DeptId">@item.DeptName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="date" style="width:400px" id="test12" placeholder="yyyy年MM月">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">节假日天数</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="jiejiari" class="layui-input" style="width:400px">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">单休双休</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="IsDanxiu" value="0" title="单休">
                                    <input type="radio" name="IsDanxiu" value="1" title="双休" checked>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-radius" lay-submit lay-filter="Btn_Cost">开始统计</button>&emsp;
                                    <button class="layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="Btn_SaveExcel">下载文件</button>&emsp;
                                    <button class="layui-btn layui-btn-radius layui-btn-warm" lay-submit lay-filter="Btn_UpExcel">上传保存文件</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
</body>
</html>

<script>
    layui.use(['layer', 'laydate','form'], function () {
        var laydate = layui.laydate;
        var layer = layui.layer;
        var form = layui.form;

        var obj = new Date();

        var start = obj.getFullYear() + "-" + obj.getMonth() + "-" + 30;
        laydate.render({
            elem: '#test11'
            , format: 'yyyy年MM月'
            , type: 'month'
            , trigger: 'click'
        });

        laydate.render({
            elem: '#test12'
            , format: 'yyyy年MM月'
            , type: 'month'
            , trigger: 'click'
        });
        
        form.on('submit(Btn_Cost)', function (data) {
            var value = data.field;
            
            if (value.DeptID == "0") {
                layer.msg('请选择部门', { icon: 2, time: 500 });
            } else if (value.date == "") {
                layer.msg('请选择时间', { icon: 2, time: 500 });
            } else {
                $.ajax({
                    url: "/Educational/Staff_Cost_Statistics/TempFunction",
                    type: "POST",
                    data: {
                        date: value.date,
                        DeptID: value.DeptID,
                        IsDanxiu: value.IsDanxiu,
                        jiejiari: value.jiejiari
                    },
                    success: function (res) {
                       
                        layer.alert(res.Msg, {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        });
                    }
                });
            }
            return false;
        });

        form.on('submit(Btn_Cost1)', function (data) {
            var value = data.field;
            if (value.DeptID == "0") {
                layer.msg('请选择部门', { icon: 2, time: 500 });
            } else if (value.date == "") {
                layer.msg('请选择时间', { icon: 2, time: 500 });
            } else {
                $.ajax({
                    url: "/Educational/Staff_Cost_Statistics/TempFunction",
                    type: "POST",
                    data: {
                        date: value.date,
                        DeptID: value.DeptID,
                        IsDanxiu: value.IsDanxiu1,
                        jiejiari: value.jiejiari
                    },
                    success: function (res) {
                        layer.alert(res.Msg, {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        });
                    }
                });
            }
            return false; 
        });

        form.on('submit(Btn_SaveExcel)', function (data) {
            $.ajax({
                url: "/Educational/Staff_Cost_Statistics/CostDataToExcel",
                type: "post",
                success: function (res) {
                    console.log(res);
                    if (res.ErrorCode == "200") {
                        
                        layer.alert(res.Msg, {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        });
                    } else {
                        layer.alert(res.Msg, {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        });
                    }
                }
            });

            $.ajax({
                url: '/Educational/TeacherAddorBeonDuty/OutData',
                data: data.field,
                type: 'post',
                success: function (res) {

                    //列标题，逗号隔开，每一个逗号就是隔开一个单元格
                    let str = res.titile + `\n`;
                    //增加\t为了不让表格显示科学计数法或者其他格式
                    for (let i = -1; i < res.data.length; i++) {
                        if (i == -1) {
                            str += `值班日期\t,值班内容\t`;
                        } else {
                            var mm = TimeChange(res.data[i].time);
                            var mydate = new Date(mm)
                            var da = (Number(mydate.getMonth()) + 1) + "月" + mydate.getDate() + "日"
                            str += '' + da + '\t,' + res.data[i].Content + '\t';
                        }

                        str += '\n';
                    }
                    //encodeURIComponent解决中文乱码
                    let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
                    //通过创建a标签实现
                    var link = document.createElement("a");
                    link.href = uri;
                    //对下载的文件命名
                    link.download = "课时费.xls";
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            });
        });

        form.on('submit(Btn_SaveExcel1)', function (data) {
            $.ajax({
                url: "/Educational/Staff_Cost_Statistics/CostDataToExcel",
                type: "post",
                success: function (res) {
                    console.log(res);
                    if (res.ErrorCode == "200") {

                        layer.alert(res.Msg, {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        });
                    } else {
                        layer.alert(res.Msg, {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        });
                    }
                }
            });
        });
        //上传将文件保存到百度云对象储存
        form.on('submit(Btn_UpExcel)', function (data) {
            $.ajax({
                url: "/Educational/Staff_Cost_Statistics/UpExcel_Bos",
                type: "post",
                data: {
                    deptid: $("#dep_select").val(),
                    date: $("#test11").val()
                },
                success: function (res) {
                    layer.alert(res.Msg, {
                        skin: 'layui-layer-molv' //样式类名
                        , closeBtn: 0
                    });
                }
            });
        });
        //上传将文件保存到百度云对象储存
        form.on('submit(Btn_UpExcel1)', function (data) {
            $.ajax({
                url: "/Educational/Staff_Cost_Statistics/UpExcel_Bos",
                type: "post",
                data: {
                    deptid: $("#dep_select").val(),
                    date: $("#test11").val()
                },
                success: function (res) {
                    layer.alert(res.Msg, {
                        skin: 'layui-layer-molv' //样式类名
                        , closeBtn: 0
                    });
                }

            });
            
            layer.alert(res.Msg, {
                skin: 'layui-layer-molv' //样式类名
                , closeBtn: 0
            });
        });
    });

    
</script>
