
@{
    ViewBag.Title = "TeacherAddorBeonDutyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>
        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .linu
        {
            width: 150px;
        }

        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        .layui-colla-title
        {
            position: relative;
            padding: 0 15px 0 35px;
            color: #333;
            background-color: #f2f2f2;
            cursor: pointer;
            font-size: 14px;
            overflow: hidden;
            height: 15px;
            line-height: 15px;
        }

        .DivCss2
        {
            display: none;
        }
    </style>
}
<div class="layui-collapse" lay-accordion>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">简单查询</h2>
        <div class="layui-colla-content">
            @{
                if (ViewBag.emp == 1)
                {
                    <form class="layui-form" lay-filter="sercherjiaowu">
                        <div class="layui-row layui-form-item">
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">选择部门:</label>
                                <div class="layui-input-block">
                                    <select name="ser_jiaowu_depet" lay-filter="jaiowu">
                                        <option value="0" selected="selected">---不限---</option>
                                        <option value="5">s1/s2教学部</option>
                                        <option value="1009">s3教学部</option>
                                        <option value="1010">s4教学部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">选择老师:</label>
                                <div id="teacher_jiaowu_ser_Div" class="layui-input-block">
                                    <select name="ser_jiaowu_teacher">
                                        <option value="0">---不限---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">开始时间:</label>
                                <div class="layui-input-block">
                                    <input type="text" placeholder="开始时间" class="layui-input" name="starTime" id="starTime" />
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">结束时间:</label>
                                <div id="ClssTime" class="layui-input-block">
                                    <input type="text" placeholder="结束时间" class="layui-input" name="endTime" id="endTime" />
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2" style="text-align:center">
                                <button type="button" class="layui-btn" onclick="server_jaiowu()">查询</button>
                            </div>
                        </div>
                    </form>

                }
                else if (ViewBag.emp == 2)
                {
                    <form class="layui-form" lay-filter="TeacherSercher">
                        <div class="layui-row layui-form-item">
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">值班老师:</label>
                                <div class="layui-input-block">
                                    @Html.DropDownList("teacherid", ViewBag.teacher as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "lay-filter", "teacher" } })
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">开始时间:</label>
                                <div class="layui-input-block">
                                    <input type="text" placeholder="开始时间" class="layui-input" name="starTime" id="starTime" />
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">结束时间:</label>
                                <div id="ClssTime" class="layui-input-block">
                                    <input type="text" placeholder="结束时间" class="layui-input" name="endTime" id="endTime" />
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2" style="text-align:center">
                                <button type="button" class="layui-btn" onclick="Sercher()">查询</button>


                            </div>
                        </div>
                    </form>
                }
                else if (ViewBag.emp == 3)
                {
                    <form class="layui-form" lay-filter="TeacherSercher">
                        <div class="layui-row layui-form-item">
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">开始时间:</label>
                                <div class="layui-input-block">
                                    <input type="text" placeholder="开始时间" class="layui-input" name="starTime" id="starTime" />
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                                <label class="LableCss1">结束时间:</label>
                                <div id="ClssTime" class="layui-input-block">
                                    <input type="text" placeholder="结束时间" class="layui-input" name="endTime" id="endTime" />
                                </div>
                            </div>
                            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2" style="text-align:center">
                                <button type="button" class="layui-btn" onclick="Sercher()">查询</button>


                            </div>
                        </div>
                    </form>
                }
            }

        </div>
    </div>
</div>
<table id="TeacherNight_table" lay-filter="TeacherNight_table"></table>
@{
    if (ViewBag.emp == 1)
    {
        <input name="emp" id="emp" type="hidden" value="是" />
    }
    else if (ViewBag.emp == 2)
    {
        <input name="emp" id="emp" type="hidden" value="否" />
    }
    else if (ViewBag.emp == 0 || ViewBag.emp == 3)
    {
        <input name="emp" id="emp" type="hidden" value="否否" />
    }
}
<div id="selectDate" class="DivCss2">
    <form id="date_addview" class="layui-form" lay-filter="date_addview">
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 期:</label>
                <div class="layui-input-block">
                    <input type="text" id="date_Anpaidate" name="date_Anpaidate" class="layui-input" />
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">部 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 门:</label>
                <div class="layui-input-block">
                    <input type="radio" id="dep" name="dep" class="layui-input" title="s1、s2教学部" value="5" />
                    <input type="radio" id="dep" name="dep" class="layui-input" title="s3教学部" value="1009" />
                    <input type="radio" id="dep" name="dep" class="layui-input" title="s4教学部" value="1010" />
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;margin-top:30px;">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="handBtn">确定导出</button>
                <button type="button" class="layui-btn" onclick="Close()">取消关闭</button>
            </div>
        </div>
    </form>
</div>

<script type="text/html" id="toolbarDemo_Night">
    <div class="layui-btn-container">
        @{
            if (ViewBag.emp == 1)
            {
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData_outNight"><i class="layui-icon">&#x1006;</i>Excel导出</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData_changIsdele"><i class="layui-icon">&#x1005;</i>批量审批</button>
                <button class="layui-btn layui-btn-sm" lay-event="SysIsture"><i class="layui-icon">&#x1005;</i>系统审批</button>

                @*<button class="layui-btn layui-btn-sm" lay-event="sysIstureM"><i class="layui-icon">&#x1006;</i>上传文件</button>*@
            }
            else if (ViewBag.emp == 2)
            {
                @*<button class="layui-btn layui-btn-sm" lay-event="getCheckData_addNight"><i class="layui-icon">&#xe624;</i>添加值班数据</button>*@
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData_delNight"><i class="layui-icon">&#x1006;</i>批量删除数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData_addNight"><i class="layui-icon">&#xe624;</i>添加值班数据</button>
            }
        }

        @*<button class="layui-btn layui-btn-sm" lay-event="getCheckData_timeChange"> <i class="layui-icon">&#xe642;</i>日期更改</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData_time"> <i class="layui-icon">&#xe642;</i>上课延迟或提前</button>*@
    </div>
</script>

<script type="text/html" id="barDemo_Night">
    @*<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>*@
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<div class="DivCss2" id="SysDiv">
    <form class="layui-form" lay-filter="SysForm" style="margin-top:40px;">
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                <label class="LableCss1">审核月份:</label>
                <div class="layui-input-block">
                    <input type="text" id="Month" name="Month" class="layui-input" lay-verify="required" />
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6" style="text-align:center">
                <button class="layui-btn" lay-submit lay-filter="SysYes">提交</button>
            </div>
        </div>
    </form>
</div>


<script>
    var dateindex;

    //转换时间的方法
    function MyTimeChange(newtime) {
        if (newtime == null)
            return "";

        var date = new Date(parseInt(newtime.slice(6)));
        var year = date.getFullYear();
        var month = parseInt(date.getMonth()) + 1;
        if (parseInt(month) < 10) {
            month = "0" + month;
        }
        var days = date.getDate();
        if (days < 10) {
            days = "0" + days;
        }
        var result = year + '-' + month + '-' + days;
        return result;
    }

    //属于主任的模糊查询
    function Sercher() {
        layui.use(['form', 'table'], function () {
            var form = layui.form;
            var table = layui.table;
            var data1 = form.val("TeacherSercher");
            if (data1.teacherid == "0" && data1.starTime.length <= 0 && data1.endTime.length < 0) {
                table.reload('TeacherNight_table');
            } else {
                table.reload('TeacherNight_table', {
                    url: '/Educational/TeacherAddorBeonDuty/TabledataSecher'
                    , where: { "tid": data1.teacherid, "olddate": data1.starTime, "newdate": data1.endTime }
                });
            }

        });

    }

    function TableFulsh() {
        layui.use('table', function () {
            var table = layui.table;
            table.reload('TeacherNight_table');
        });
    }
    var myindex = 0;
    layui.use(['table', 'element', 'laydate', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var element = layui.element;
        var form = layui.form;
        //自定义事件
        laydate.render({
            elem: '#starTime'
            , trigger: 'click'
        });

        laydate.render({
            elem: '#date_Anpaidate'
            , type: 'month'
            , trigger: 'click'
        });

        laydate.render({
            elem: '#Month',
            type: 'month',
            trigger: 'click'
        });

        //自定义事件
        laydate.render({
            elem: '#endTime'
            , trigger: 'click' //采用click弹出
        });
        var emp = $("#emp").val();

        if (emp == "是") {
            //给教务看的
            table.render({
                elem: '#TeacherNight_table'
                , url: '/Educational/TeacherAddorBeonDuty/Tabledata'
                , toolbar: '#toolbarDemo_Night'
                , cols: [[
                    { type: 'checkbox' }
                    , {
                        field: 'Anpaidate', title: '值班日期', templet: function (res) {
                            return MyTimeChange(res.Anpaidate);
                        }
                    }
                    , { field: 'EmpName', title: '值班老师' }
                    , { field: 'TypeName', title: '值班类型' }
                    , { field: 'ClassNumber', title: '班级' }
                    , { field: 'ClassroomName', title: '教室' }
                    , { field: 'curd_name', title: '值班时间段' }
                    , {
                        fixed: 'right', title: '操作', width: 150, templet: function (res) {
                            if (res.IsDels == false) {
                                return '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="shenhe">核实</a>'
                            } else {
                                return '已核实'
                            }
                        }
                    }
                ]]
                , page: true
                , limits: [20, 30, 40, 50, 60, 70, 80, 90]
                , limit: 20
            });
        } else if (emp == "否") {
            //给主任看的
            table.render({
                elem: '#TeacherNight_table'
                , url: '/Educational/TeacherAddorBeonDuty/Tabledata'
                , toolbar: '#toolbarDemo_Night'
                , cols: [[
                    { type: 'checkbox' }
                    , {
                        field: 'Anpaidate', title: '值班日期', templet: function (res) {
                            return MyTimeChange(res.Anpaidate);
                        }
                    }
                    , { field: 'EmpName', title: '值班老师' }
                    , { field: 'TypeName', title: '值班类型' }
                    , { field: 'ClassNumber', title: '班级' }
                    , { field: 'ClassroomName', title: '教室' }
                    , { field: 'curd_name', title: '值班时间段' }
                    , {
                        fixed: 'right', title: '操作', width: 150, templet: function (res) {
                            if (res.IsDels == false) {
                                return '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>'
                            } else {
                                return '已核实'
                            }
                        }
                    }
                ]]
                , page: true
                , limits: [20, 30, 40, 50, 60, 70, 80, 90]
                , limit: 20
            });
        } else if (emp == "否否") {
            //给普通员工看的
            table.render({
                elem: '#TeacherNight_table'
                , url: '/Educational/TeacherAddorBeonDuty/Tabledata'
                , toolbar: '#toolbarDemo_Night'
                , cols: [[
                    { type: 'checkbox' }
                    , {
                        field: 'Anpaidate', title: '值班日期', templet: function (res) {
                            return MyTimeChange(res.Anpaidate);
                        }
                    }
                    , { field: 'EmpName', title: '值班老师' }
                    , { field: 'TypeName', title: '值班类型' }
                    , { field: 'ClassNumber', title: '班级' }
                    , { field: 'ClassroomName', title: '教室' }
                    , { field: 'curd_name', title: '值班时间段' }
                     
                ]]
                , page: true
                , limits: [20, 30, 40, 50, 60, 70, 80, 90]
                , limit: 20
            });
        }


        //头工具栏事件
        table.on('toolbar(TeacherNight_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData_addNight':
                    layer.open({
                        type: 2,
                        content: '/Educational/TeacherAddorBeonDuty/AddDataView'
                        , area: ['800px', '500px'],
                        title: '添加值班数据页面'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    });
                    break;
                case 'getCheckData_delNight':
                    //批量删除数据

                    if (checkStatus.data.length <= 0) {
                        layer.msg('至少要选择一条数据！', { icon: 2, shade: 0.8 });

                    } else {
                        var str = "";
                        for (var i = 0; i < checkStatus.data.length; i++) {
                            str += checkStatus.data[i].Id + ",";
                        }
                        layer.confirm('真的删除行么?', { icon: 3 }, function (index) {
                            $.ajax({
                                url: '/Educational/TeacherAddorBeonDuty/DeleteFunction',
                                type: 'POST',
                                data: { "ids": str },
                                success: function (suc) {
                                    if (suc.Success == false) {
                                        layer.msg('删除失败！', { icon: 2 });
                                    } else {
                                        layer.msg(suc.Msg, { icon: 1, shade: 0.8 }, function () {
                                            //刷新
                                            TableFulsh();
                                        });
                                    }
                                }
                            });
                            layer.close(index);
                        });
                    }

                    break;
                //case 'getCheckData_timeChange':
                //    layer.open({
                //        type: 2,
                //        content: '/Educational/TeacherNight/ClassadjustmentView/false'
                //        , area: ['600px', '400px'],
                //        title: '修改日期页面'
                //        , shade: 0.8
                //        , anim: 4
                //        , skin: 'demo-class'
                //    });
                //    break;
                //case 'getCheckData_time':
                //    layer.open({
                //        type: 2,
                //        content: '/Educational/TeacherNight/ClassadjustmentView/true'
                //        , area: ['600px', '400px'],
                //        title: '日期修改页面'
                //        , shade: 0.8
                //        , anim: 4
                //        , skin: 'demo-class'
                //    });
                //    break;
                case 'sysIstureM':
                    layer.open({
                        type: 2,
                        content: '/Educational/TeacherAddorBeonDuty/TableInsert'
                        , area: ['600px', '400px'],
                        title: '考勤导入'
                        , shade: 0.8
                        , anim: 4
                        , skin: 'demo-class'
                    })
                    break;
                case 'SysIsture':
                    myindex = layer.open({
                        type: 1,
                        area: ['500px', '300px'],
                        title: '系统审核数据',
                        shade: 0.8,
                        anim: 4,
                        skin: 'demo-class',
                        content: $('#SysDiv')
                    });
                    break;

                case 'getCheckData_outNight':
                    //导出数据
                    dateindex = layer.open({
                        type: 1,
                        shade: 0.8,
                        title: '选择导出条件', //不显示标题
                        content: $('#selectDate'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                        //cancel: function () {
                        //    layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
                        //}
                    });

                    break;
                case 'getCheckData_changIsdele':
                    //批量审批
                    if (checkStatus.data.length <= 0) {
                        layer.msg('至少要选择一条数据！', { icon: 2, shade: 0.8 });

                    } else {
                        var str = "";
                        for (var i = 0; i < checkStatus.data.length; i++) {
                            str += checkStatus.data[i].Id + ",";
                        }
                        layer.confirm('一旦数据审核，不可以更改，你确定吗？', function (ydsm) {
                            $.ajax({
                                url: '/Educational/TeacherAddorBeonDuty/ShenheData',
                                type: 'POST',
                                data: { "str": str },
                                success: function (suc) {
                                    if (suc.Success == false) {
                                        layer.msg('审核失败，请刷新重试！', { icon: 2 });
                                    } else {
                                        layer.msg(suc.Msg, { icon: 1, shade: 0.8 }, function () {
                                            //刷新
                                            TableFulsh();
                                        });
                                    }
                                }
                            });
                            layer.close(ydsm);
                        })
                    }
                    break;

            };
        });

        //监听行工具事件
        table.on('tool(TeacherNight_table)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么?', { icon: 3 }, function (index) {
                    $.ajax({
                        url: '/Educational/TeacherAddorBeonDuty/DeleteFunction',
                        type: 'POST',
                        data: { "ids": data.Id },
                        success: function (suc) {
                            if (suc.Success == false) {
                                layer.msg('删除失败！', { icon: 2 });
                            } else {
                                layer.msg(suc.Msg, { icon: 1, shade: 0.8 }, function () {
                                    //刷新
                                    TableFulsh();
                                });
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                //layer.open({
                //    type: 2,
                //    content: '/Educational/TeacherAddorBeonDuty/EditFunction/' + data.Id,
                //    area: ['700px', '400px'],
                //    title: '编辑值班数据',
                //    shade: 0.8,
                //    anim: 4,
                //    skin: 'demo-class'
                //});
            }
            else if (obj.event === 'shenhe') {
                layer.confirm('确定数据真实吗?', { icon: 3 }, function (index) {
                    $.ajax({
                        url: '/Educational/TeacherAddorBeonDuty/Shenhe/' + data.Id,
                        success: function (suc) {
                            if (suc.Success == false) {
                                layer.msg(suc.Msg, { icon: 2 });
                            } else {
                                layer.msg(suc.Msg, { icon: 1, shade: 0.8 }, function () {
                                    //刷新
                                    TableFulsh();
                                });
                            }
                        }
                    });
                    layer.close(index);
                });

                //layer.open({
                //    type: 2,
                //    content: '/Educational/TeacherAddorBeonDuty/EditFunction/' + data.Id,
                //    area: ['700px', '400px'],
                //    title: '编辑值班数据',
                //    shade: 0.8,
                //    anim: 4,
                //    skin: 'demo-class'
                //});
            }
        });

        //数据导出
        form.on('submit(handBtn)', function (data) {
            // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            if (data.field.date_Anpaidate == null) {
                layer.msg('选择日期！');
            } else if (data.field.dep == null) {
                layer.msg('选择部门！');
            } else {
                $.ajax({
                    url: '/Educational/TeacherAddorBeonDuty/OutData',
                    data: data.field,
                    type: 'post',
                    success: function (res) {
                        //console.log(res);

                        //列标题，逗号隔开，每一个逗号就是隔开一个单元格
                        let str = res.titile + `\n`;
                        //增加\t为了不让表格显示科学计数法或者其他格式
                        for (let i = -1; i < res.data.length; i++) {
                            if (i == -1) {
                                str += `值班日期\t,值班内容\t`;
                            } else {
                                var mm = TimeChange(res.data[i].time);
                                var mydate = new Date(mm)
                                var da = (Number(mydate.getMonth()) + 1) + "月" + mydate.getDate() + "日"
                                str += '' + da + '\t,' + res.data[i].Content + '\t';
                            }

                            str += '\n';
                        }
                        //encodeURIComponent解决中文乱码
                        let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
                        //通过创建a标签实现
                        var link = document.createElement("a");
                        link.href = uri;
                        //对下载的文件命名
                        link.download = "值班表.xls";
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                });
            }

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //获取某个部门的老师
        form.on('select(jaiowu)', function (data) {
            $("#teacher_jiaowu_ser_Div")[0].innerHTML = "";
            if (data.value == 0) {
                $('<select name="ser_jiaowu_teacher"><option value="0"> --- 不限-- -</option></select >').appendTo($("#teacher_jiaowu_ser_Div"));
                form.render();
            } else {
                $.ajax({
                    url: '/Educational/TeacherAddorBeonDuty/GetDetEmp/' + data.value,
                    type: 'POST',
                    success: function (res) {
                        // console.log(res);
                        if (res.length > 0) {
                            var selectteacher = $(' <select name="ser_jiaowu_teacher"><option value = "0" > --- 不限-- -</option></select >');
                            for (var i = 0; i < res.length; i++) {
                                $('<option value=' + res[i].Value + '>' + res[i].Text + '</option>').appendTo(selectteacher);

                            }
                            $(selectteacher).appendTo($("#teacher_jiaowu_ser_Div"));
                            form.render();
                        }
                    }
                });
            }
        });

        //系统审核数据
        form.on('submit(SysYes)', function (data) {
            var myindexs = layer.load(1);
            $.ajax({
                url: '/Educational/TeacherAddorBeonDuty/SysSheHe',
                data: { "Month": $("#Month").val() },
                success: function (res) {
                    layer.close(myindexs);
                    if (res.ErrorCode == 405) {
                        //异常
                        layer.msg(res.Msg, { icon: 2 });
                    } else if (res.ErrorCode == 200) {
                        //全部审核完毕
                        layer.msg(res.Msg, { icon: 1 });
                    } else if (res.ErrorCode == 505) {
                        //有未审核的数据
                        layer.confirm("有系统无法识别的值班数据,需要下载查看吗?", function (index) {
                            //下载
                            let str = "系统未识别的值班数据" + `\n`;

                            //增加\t为了不让表格显示科学计数法或者其他格式
                            for (let i = -1; i < res.Data.length; i++) {
                                if (i == -1) {
                                    str += `姓名\t,值班类型\t,值班日期\t,未审核原因\t`;
                                } else {
                                    str += '' + res.Data[i].Tearcher_Id + '\t,' + res.Data[i].Rmark + '\t,' + TimeChange(res.Data[i].OrwatchDate) + '\t,' + res.Data[i].OnByReak + '\t';
                                }

                                str += '\n';
                            }

                            //encodeURIComponent解决中文乱码
                            let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
                            //通过创建a标签实现
                            var link = document.createElement("a");
                            link.href = uri;
                            //对下载的文件命名
                            link.download = "值班未通过数据.xls";
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                            layer.close(Sysindex);
                            layer.close(index);

                        });
                    }
                }
            });
            return false;
        });
    });

    function Close() {
        layui.use('layer', function () {
            parent.layer.close(dateindex); //再执行关闭
        });
    }

    //属于教务的模糊查询
    function server_jaiowu() {
        layui.use(['table', 'form'], function () {
            var table = layui.table;
            var form = layui.form;
            var data1 = form.val("sercherjiaowu");
            if (data1.ser_jiaowu_depet == "0" && data1.ser_jiaowu_teacher == "0" && data1.starTime.length <= 0 && data1.endTime.length <= 0) {
                table.reload('TeacherNight_table');
            } else {
                table.reload('TeacherNight_table', {
                    url: '/Educational/TeacherAddorBeonDuty/J_serchData'
                    , where: data1
                });
            }
        });
    }

</script>

