
@{
    ViewBag.Title = "QuestionsBankIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.MyEntity
@section style{

    <style>

        #titleImage {
            width: 100%;
            height: 200px;
            background-color: #0094ff;
        }

        #questionTypeDiv {
            width: 80%;
            height: 500px;
            background-color: white;
            margin: 0 auto;
        }

        .questionType {
            display: inline-block;
            margin-left: 100px;
        }

        .temp {
            width: 100%;
            margin: 0 auto;
            height: 40px;
            border-top: 1px solid gray;
            text-align: center;
            line-height: 40px;
            font-size: 18px;
        }
    </style>

}
<div id="questionWarp">

    <div id="titleImage">

    </div>
    <div id="questionTypeDiv">


        <div>

            <div class="temp">
                <i class="layui-icon layui-icon-home">笔试题库</i>
            </div>

            <div class="questionType">
                <i id="ChoiceQuestion" class="layui-icon layui-icon-template-1" style="font-size: 50px; color: #1E9FFF;"></i>
                <br />
                <a href="/ExaminationSystem/QuestionsBank/ChoiceQuestionIndex" style="text-decoration:none;">选择题</a>
            </div>

            <div class="questionType">
                <i id="clearlyExamination" class="layui-icon layui-icon-template-1" style="font-size: 50px; color: #1E9FFF;"></i>
                <br />
                <a href="/ExaminationSystem/QuestionsBank/ClearlyQuestionIndex" style="text-decoration:none;">解答题</a>
            </div>
        </div>



        <div>

            <div class="temp">
                <i class="layui-icon layui-icon-home">机试题库</i>
            </div>

            <div class="questionType">
                <i id="ComputerTestQuestions" class="layui-icon layui-icon-template-1" style="font-size: 50px; color: #1E9FFF;"></i>
                <br />
                <a href="/ExaminationSystem/QuestionsBank/ComputerTestQuestionsIndex" style="text-decoration:none;">机试题库</a>
            </div>


        </div>
        <div>

            <div class="temp">
                <i class="layui-icon layui-icon-home">考前导出</i>
            </div>

            <div class="questionType">
                <i class="layui-icon layui-icon-template-1" style="font-size: 50px; color: #1E9FFF;"></i>
                <br />
                <a id="DaoChu" href="#" style="text-decoration:none;">导出文档</a>
            </div>


        </div>




    </div>


</div>
<div id="TeacherDiv" style="display:none">
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">阶段</label>
                <div class="layui-input-inline">
                    <select name="GrandS" lay-filter="majorS">
                        <option value="0">请选择</option>

                        @{
                            foreach (var item in ViewBag.Grand as List<Grand>)
                            {
                                <option value="@item.Id">@item.GrandName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">课程</label>
                <div class="layui-input-inline">
                    <select lay-verify="required" name="courseS" id="courseS"></select>
                </div>
            </div>
        </div>
        <button type="button" style="text-align:center;width:68%" class="layui-btn layui-btn layui-input-block" id="QueRen">导出</button>
    </form>
</div>
@section script{

    <script>

        layui.use(['layer'], function () {

            var layer = layui.layer;


            ////鼠标移入事件

            $(".questionType").mouseover(function () {


                $(this).attr("style", "color:red;");

            });


            ////鼠标移出去事件
            $(".questionType").mouseout(function () {


                $(this).attr("style", "color:black;");

            });


            //进入笔试题库页面‘
            $("#ChoiceQuestion").click(function () {

                window.location.href = "/ExaminationSystem/QuestionsBank/ChoiceQuestionIndex";


            });

            //进入解答题库页面】

            $("#clearlyExamination").click(function () {


                window.location.href = "/ExaminationSystem/QuestionsBank/ClearlyQuestionIndex";


            });

            //进入机试题题库主页

            $("#ComputerTestQuestions").click(function () {

                window.location.href = "/ExaminationSystem/QuestionsBank/ComputerTestQuestionsIndex";

            });
            layui.use(['table', 'layer', 'form'], function () {

                var table = layui.table;
                var layer = layui.layer;
                var form = layui.form;
                form.on('select(majorS)', function (data) {
                    var value = data.value;  //select选中的值

                    console.log("选中值" + value);

                    $.ajax({
                        url: "/ExaminationSystem/QuestionsBank/CourseData",
                        data: { grandid: value },
                        dataType: "json",
                        success: function (resultData) {
                            if (resultData.length > 0) {
                                //清空赋值
                                $("#courseS").empty();
                                console.log(resultData);
                                $("#courseS").append(new Option("请选择项目", ""));
                                $.each(resultData, function (index, item) {
                                    var grand_ = item.Grand == null ? "" : item.Grand.GrandName;
                                    var namaC = item.CourseName + '(' + grand_ + ')'
                                    //赋值
                                    $('#courseS')
                                        .append(new Option(namaC, item.CurriculumID));
                                });
                            } else {
                                $("#courseS").empty();
                                $("#courseS").append(new Option("暂无数据", ""));
                            }
                            $("#courseS").append(new Option("升学题", "0"));
                            layui.form.render("select");
                        }
                    });
                });
               
            });
            $("#DaoChu").click(function () {
                layer.open({
                    type: 1,
                    title: "更改",
                    area: ["700px", "400px"],
                    content: $('#TeacherDiv'),

                });

            });
            $("#QueRen").click(function () {
                layer.msg("尽情期待！");
            })

        });


    </script>


}
