
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .DivCss1
        {
            margin: 0px auto;
            margin-top: 20px;
            width: 98%;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
        .DisplayCss1{
        display:none;
        }
    </style>
</head>
<body>
    <div class="DivCss1">
        <form id="adddataform" class="layui-form" lay-filter="adddataform">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">维修日期:</label>
                <div class="layui-input-block">
                    <input id="mantinDate" name="mantinDate" type="tel" class="layui-input" lay-verify="required"/>
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">维修物品:</label>
                <div class="layui-input-block">
                    @{
                        List<SelectListItem> list2 = ViewBag.goodname as List<SelectListItem>;

                        foreach (var item in list2)
                        {
                            <input type="radio" name="weixiugood" value="@item.Value" title="@item.Text" />
                        }
                    }
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">宿舍地址:</label>
                    <div class="layui-input-block">
                        @{
                            List<SelectListItem> list = ViewBag.tung as List<SelectListItem>;
                            foreach (var item in list)
                            {
                                <input type="radio" name="Suaddress" value="@item.Value" title="@item.Text" lay-filter="Addree" />
                            }
                        }
                    </div>
                </div>
                
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">宿舍楼层:</label>
                    <div class="layui-input-block" id="foordiv">

                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">选择宿舍:</label>
                    <div class="layui-input-block" id="dordiv">

                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">结算类型:</label>
                    <div class="layui-input-block">
                        <select name="JieType" id="JieType" lay-filter="JieType">
                            <option value="1">寝室平摊</option>
                            <option value="2">个人承担</option>
                        </select>
                    </div>
                </div>

            </div>
            <div id="dorManDiv" class="layui-row layui-form-item DisplayCss1">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">寝室人员:</label>
                    <div id="Studiv" class="layui-input-block">

                    </div>
                </div>

            </div>

            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;margin-top:30px;">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="addbtn">确定添加</button>
                    <button id="btn1" type="button" class="layui-btn">取消关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        $(function () {
            var mydate = null;
            var sushennumber = null;
            var form;
            var layer;
            var laydate;
            layui.use(['form', 'layer','laydate'], function () {
                form = layui.form;
                layer = layui.layer;
                laydate = layui.laydate;
                
                laydate.render({
                    elem: '#mantinDate'
                    , trigger: 'click'
                    , done: function (value, date, endDate) {
                        mydate=value;                         
                    }
                });


                ///加载宿舍楼层
                form.on('radio(Addree)', function (data) {
                    $("#foordiv")[0].innerHTML = "";
                    $("#dordiv")[0].innerHTML = "";
                    $.ajax({
                        url: '/DormitoryMaintenance/DormitoryDeposit/GetAllFoor/' + data.value,
                        success: function (res) {
                            for (var i = 0; i < res.length; i++) {
                                $('<input lay-filter="foorrido" type="radio" name="foorname" id="foorname" title="' + res[i].Text + '" value="' + res[i].Value + '"/>').appendTo($("#foordiv"));
                            }
                            form.render(); 
                             
                        }

                    });
                      
                });  

                ///获取宿舍号
                form.on('radio(foorrido)', function (data) {                    
                    $("#dordiv")[0].innerHTML = "";
                    $.ajax({
                        url: '/DormitoryMaintenance/DormitoryDeposit/GetDormitory/' + data.value,
                        success: function (res) {
                            for (var i = 0; i < res.length; i++) {
                                $('<input lay-filter="dorrido" type="radio" name="dorname" id="dorname" title="' + res[i].Text + '" value="' + res[i].Value + '"/>').appendTo($("#dordiv"));
                            }
                            form.render(); 
                        }
                       
                    });
                     
                });

                //获取选中的宿舍
                form.on('radio(dorrido)', function (data) {
                    sushennumber = data.value;
                });

                //获取寝室人员
                form.on('select(JieType)', function (data) {
                    
                    if (data.value == "1") {
                        //寝室平摊
                        $("#Studiv")[0].innerHTML = "";
                        $("#dorManDiv").addClass("DisplayCss1");
                    } else {
                        //个人承担
                        $("#dorManDiv").removeClass("DisplayCss1");
                        //获取属于这个寝室的所有学生
                        if (sushennumber == null) {
                            layer.msg('请先选择宿舍！', {icon:2,shade:0.8});
                        } else if (mydate == null) {
                            layer.msg('请先维修日期！', { icon: 2, shade: 0.8 });
                        } else if (sushennumber != null && mydate != null) {
                            $("#Studiv")[0].innerHTML = "";
                            $.ajax({
                                url: '/DormitoryMaintenance/DormitoryDeposit/GetSusheStudent',
                                type: 'POST',
                                data: { "date": mydate, "sushenumber": sushennumber },
                                success: function (res) {
                                    console.log(res);
                                    if (res.Data.length>0) {
                                        for (var i = 0; i < res.Data.length; i++) {
                                            $('<input type="radio" name="sturadi" value="' + res.Data[i].Value + '" title="' + res.Data[i].Text + '" />').appendTo($("#Studiv"));                   
                                        }
                                        form.render(); 
                                    }
                                }
                            });
                        }                        
                    }
                    
                });      

                form.on('submit(addbtn)', function (data) { 
                    
                    //console.log(data.field);
                    if (data.field.weixiugood == undefined) {
                        layer.msg('请选择维修物品！', { icon: 2, shade: 0.8 });
                    } else if (data.field.Suaddress == undefined) {
                        layer.msg('请选择宿舍地址！', { icon: 2, shade: 0.8 });
                    } else if (data.field.dorname == undefined) {
                        layer.msg('请选择宿舍！', { icon: 2, shade: 0.8 });
                    } else if (data.field.JieType == "2" && data.field.sturadi == undefined) {
                        layer.msg('请选择学生！', { icon: 2, shade: 0.8 });
                    } else {
                        $.ajax({
                            url: '/DormitoryMaintenance/DormitoryDeposit/AddFunction',
                            data: data.field,
                            type: 'POST',
                            success: function (res) {
                                if (res.Success) {
                                    layer.msg(res.Msg, { icon: 1, shade: 0.8 }, function () {

                                        window.parent.TableFlush();

                                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                        parent.layer.close(index); //再执行关闭   

                                    });
                                } else {
                                    layer.msg(res.Msg, { icon: 2, shade: 0.8 });
                                }
                            }
                        });
                    }

                   
                    return false;  
                });

            });
        });
    </script>
</body>
</html>
