
@{
    ViewBag.Title = "DormitoryDepositIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .LableCss1
    {
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        display: block;
        padding: 9px 15px;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
        text-align: right
    }
</style>

<div>
    <form class="layui-form" lay-filter="sercherform">
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                <label class="LableCss1">学生姓名:</label>
                <div class="layui-input-block">
                    <input type="text" placeholder="学生姓名" class="layui-input" name="stuName" id="stuName" />
                </div>
            </div>
            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                <label class="LableCss1">开始时间:</label>
                <div class="layui-input-block">
                    <input type="text" placeholder="开始时间" class="layui-input" name="starTime" id="starTime" />
                </div>
            </div>
            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                <label class="LableCss1">结束时间:</label>
                <div id="ClssTime" class="layui-input-block">
                    <input type="text" placeholder="结束时间" class="layui-input" name="endTime" id="endTime" />
                </div>
            </div>
            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2" style="text-align:center">
                <button type="button" class="layui-btn" onclick="SercherFuntion()">查询</button>


            </div>
        </div>
    </form>
</div>

<table id="DormitoryDeposit_table" lay-filter="DormitoryDeposit_table"></table>
 

<script type="text/html" id="DormitoryDeposit_toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加数据</button>
    </div>
</script>

@*<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>*@

<script>
    function ShenyeDate(newtime) {
        if (newtime == null)
            return "";
        var date = new Date(parseInt(newtime.slice(6)));
        var year = date.getFullYear();
        var month = parseInt(date.getMonth()) + 1;
        if (month < 10) {
            month = "0" + month;
        }
        var days = date.getDate();
        if (days < 10) {
            days = "0" + days;
        }
        var result = year + '-' + month + '-' + days;
        return result;
    }

    function TableFlush() {
        layui.use('table', function () {
            var table = layui.table;
            table.reload('DormitoryDeposit_table');
        });
    }
    

    var table;
    var layer;
    var laydate;
    var form;

    $(function () {
        layui.use(['table','layer','laydate','form'], function () {
            table = layui.table;
            layer = layui.layer;
            laydate = layui.laydate;
            form = layui.form;

            laydate.render({
                elem: '#starTime'
                , trigger: 'click'
            });

            laydate.render({
                elem: '#endTime'
                , trigger: 'click'
            });
 
                table.render({
                    elem: '#DormitoryDeposit_table'
                    , url: '/DormitoryMaintenance/DormitoryDeposit/GetData'
                    , toolbar: '#DormitoryDeposit_toolbarDemo'
                    , cols: [[
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'stuName', title: '学生姓名', fixed: 'left' }
                        , { field: 'ClassName', title: '目前班级' }
                        , { field: 'DorName', title: '寝室编号' }
                        , { field: 'ChuangNumber', title: '床位号' }
                        , {
                            field: 'Maintain', title: '维修日期', templet: function (res) {
                                return ShenyeDate(res.Maintain);
                            }
                        }
                        , { field: 'Nameofarticle', title: '维修物品' }
                        , {
                            field: 'GoodPrice', title: '应付价格', templet: function (res) {
                                return res.GoodPrice + "元"
                            }
                        }
                        , {
                            field: 'MaintainState', title: '状态', templet: function (res) {
                                if (res.MaintainState == 1) {
                                    return '<span style="color:red">未处理</span>'
                                } else if (res.MaintainState == 2) {
                                    return '已扣除'
                                }
                            }
                        }

                        //, { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                    ]]
                    , page: true
                    , limits: [20, 40, 50, 90, 100]
                    , limit: 20
                });
             

            

            //头工具栏事件
            table.on('toolbar(DormitoryDeposit_table)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        var data = checkStatus.data;
                        layer.open({
                            type: 2,
                            content: '/DormitoryMaintenance/DormitoryDeposit/AddView',
                            area: ['1000px', '600px']
                        });
                        break;

                };
            });

        });       
    });


    //模糊查询
    function SercherFuntion() {
        var data1 = form.val("sercherform");

        if (data1.stuName == null && data1.starTime == null && data1.endTime == null) {
            table.reload('DormitoryDeposit_table');
             
        } else {
            table.reload('DormitoryDeposit_table', {
                url: '/DormitoryMaintenance/DormitoryDeposit/DoubleGetData'
                , where: data1 
            });
        }
    }
</script>

