
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangDorView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .DivCss1
        {
            margin: 0px auto;
            margin-top: 20px;
            width: 98%;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
    </style>
</head>
<body>
    <div class="DivCss1">
        <form id="adddataform" class="layui-form" lay-filter="adddataform">
            <input name="StuNumber" id="StuNumber" type="hidden" value="@ViewBag.StuNumber" />
            <div class="layui-row layui-form-item">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="LableCss1">调寝日期:</label>
                        <div class="layui-input-block">
                            <input type="text" id="endtime" name="endtime" class="layui-input" lay-verify="required" />
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">宿舍地址:</label>
                    <div class="layui-input-block">
                        @{
                            List<SelectListItem> list = ViewBag.tung as List<SelectListItem>;
                            foreach (var item in list)
                            {
                                <input type="radio" name="Suaddress" value="@item.Value" title="@item.Text" lay-filter="Addree" />
                            }
                        }
                    </div>
                </div>

            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">宿舍楼层:</label>
                    <div class="layui-input-block" id="foordiv">

                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">选择宿舍:</label>
                    <div class="layui-input-block" id="dordiv">

                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">选择床位:</label>
                    <div class="layui-input-block">
                        <input name="changid" type="radio" value="1" title="1" checked="checked" />
                        <input name="changid" type="radio" value="2" title="2" />
                        <input name="changid" type="radio" value="3" title="3" />
                        <input name="changid" type="radio" value="4" title="4" />
                        <input name="changid" type="radio" value="5" title="5" />
                        <input name="changid" type="radio" value="6" title="6" />
                        <input name="changid" type="radio" value="7" title="7" />
                        <input name="changid" type="radio" value="8" title="8" />
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <label class="LableCss1">床位信息:</label>
                    <div class="layui-input-block">
                        <span id="ChuangInfo" style="font-size:large"></span>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;margin-top:30px;">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="addbtn">确定调寝</button>
                    <button id="btn1" type="button" class="layui-btn">取消关闭</button>
                </div>
            </div>
            
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        $(function () {
            var mydate = null;
            var sushennumber = null;
            var form;
            var layer;
            var laydate;
            layui.use(['form', 'layer', 'laydate'], function () {
                form = layui.form;
                layer = layui.layer;
                laydate = layui.laydate;

                laydate.render({
                    elem: '#endtime'
                    , min: -2
                    , max: 0
                    , trigger: 'click'
                    , done: function (value, date, endDate) {
                        mydate = value;
                    }
                });


                ///加载宿舍楼层
                form.on('radio(Addree)', function (data) {
                    $("#foordiv")[0].innerHTML = "";//清空楼层
                    $("#dordiv")[0].innerHTML = "";//清空寝室
                    $.ajax({
                        url: '/DormitoryMaintenance/DormitoryDeposit/GetAllFoor/' + data.value,
                        success: function (res) {
                            for (var i = 0; i < res.length; i++) {
                                $('<input lay-filter="foorrido" type="radio" name="foorname" id="foorname" title="' + res[i].Text + '" value="' + res[i].Value + '"/>').appendTo($("#foordiv"));
                            }
                            form.render();

                        }

                    });

                });

                ///获取宿舍号
                form.on('radio(foorrido)', function (data) {
                    $("#dordiv")[0].innerHTML = "";
                    $.ajax({
                        url: '/DormitoryMaintenance/DormitoryDeposit/GetDormitory/' + data.value,
                        success: function (res) {
                            for (var i = 0; i < res.length; i++) {
                                $('<input lay-filter="dorrido" type="radio" name="dorname" id="dorname" title="' + res[i].Text + '" value="' + res[i].Value + '"/>').appendTo($("#dordiv"));
                            }
                            form.render();
                        }

                    });

                });

                //获取选中的宿舍
                form.on('radio(dorrido)', function (data) {
                    sushennumber = data.value; 
                });

                

                form.on('submit(addbtn)', function (data) {
                    if (data.field.Suaddress == undefined) {
                        layer.msg('请选择宿舍地址！', { icon: 2, shade: 0.8 });
                    } else if (data.field.dorname == undefined) {
                        layer.msg('请选择宿舍！', { icon: 2, shade: 0.8 });
                    }else {
                        $.ajax({
                            url: '/Dormitory/StudentBedtime/ChangDorFunction',
                            data: data.field,
                            type: 'POST',
                            success: function (res) {
                                if (res.Success) {
                                    layer.msg(res.Msg, { icon: 1, shade: 0.8 }, function () {

                                        window.parent.SercherFuntion();

                                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                        parent.layer.close(index); //再执行关闭

                                    });
                                } else {
                                    var str = '';
                                    console.log(res.Data);
                                    for (var i = 0; i < res.Data.length; i++) {
                                        str += "班主任：" + res.Data[i].TeacherName + ",学生：" + res.Data[i].StuName.Name + "<br />"
                                    }
                                    console.log(str);
                                    $("#ChuangInfo").html(str);
                                    layer.msg(res.Msg, { icon: 2, shade: 0.8 });
                                }
                            }
                        });
                    }


                    return false;
                });



            });

            $("#btn1").click(function () {

                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });
        });
    </script>
</body>
</html>
