
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BatchExportEmps</title>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.all.js"></script>
</head>
<body>
    <div>
        <table id="emptab" lay-filter="emptab"></table>
    </div>

    <script>


        //在职员工加载
        layui.use(['table', 'layer', 'form', 'laydate', 'element'], function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            var element = layui.element;
            table.render({
                elem: '#emptab'
                , url: '/Personnelmatters/EmployeesInfo/GetData'
                , id: "EmpInfoToExcel"
                , toolbar: '#toolbarDemo'
                , limits: [10, 20, 30, 100, 120, 150, 200, 250, 300, 350]
                , limit: 10
                , cols: [[
                     { field: 'EmployeeId', title: '员工编号', width: 126 }
                    , { field: 'DDAppId', title: '钉钉工号', width: 108, sort: true }
                    , { field: 'EmpName', title: '姓名', width: 110, sort: true, edit: 'text' }
                    , { field: 'Depart', title: '所属部门', width: 110, sort: true }
                    , { field: 'Position', title: '所属岗位', width: 110, sort: true }
                    , { field: 'Phone', title: '电话号码', sort: true, width: 110, edit: 'text' }
                    , { field: 'Sex', title: '性别', sort: true, width: 90}
                    , { field: 'IdCardNum', title: '身份证号码', sort: true, width: 120, edit: 'text' }
                    , { field: 'EntryTime', title: '入职时间', sort: true, width: 110, templet: function (d) { return GetYMD(d.EntryTime) } }
                    , { field: 'PositiveDate', title: '转正日期', sort: true, width: 110, templet: function (d) { return GetYMD(d.PositiveDate) } }
                    , { field: 'SSStartMonth', title: '社保起始月份', sort: true, width: 135, /*event: 'date', data_field: "SSStartMonth",*/ templet: function (d) { return GetYearAndMonth(d.SSStartMonth) } }
                    , { field: 'Remark', title: '备注', sort: true, width: 110, edit: 'text' }
                    , { field: 'Nation', title: '民族', sort: true, width: 110, hide: true }
                    , { field: 'Age', title: '年龄', sort: true, width: 110, hide: true }
                    , { field: 'ContractStartTime', title: '合同起始时间', sort: true, width: 110, hide: true, templet: function (d) { return GetYMD(d.EntryTime) }  }
                    , { field: 'ContractEndTime', title: '合同终止时间', sort: true, width: 110, hide: true, templet: function (d) { return GetYMD(d.EntryTime) }  }
                    , { field: 'Birthdate', title: '出生日期', sort: true, width: 110, hide: true, templet: function (d) { return GetYMD(d.EntryTime) }  }
                    , { field: 'Birthday', title: '生日', sort: true, width: 110, hide: true }
                    , { field: 'UrgentPhone', title: '紧急联系电话', sort: true, width: 110, hide: true }
                    , { field: 'Education', title: '学历', sort: true, width: 110, hide: true }
                    , { field: 'MaritalStatus', title: '婚姻状态', sort: true, width: 110, hide: true }
                    , { field: 'DomicileAddress', title: '户籍地址', sort: true, width: 110, hide: true }
                    , { field: 'Address', title: '现居地址', sort: true, width: 110, hide: true }
                    , { field: 'IdCardIndate', title: '身份证有效期', sort: true, width: 110, hide: true, templet: function (d) { return GetYMD(d.EntryTime) } }
                    , { field: 'PositiveDate', title: '政治面貌', sort: true, width: 110, hide: true }
                    , { field: 'ProbationSalary', title: '试用期工资', sort: true, width: 110, hide: true }
                    , { field: 'Salary', title: '转正后工资', sort: true, width: 110, hide: true }
                    , { field: 'BCNum', title: '银行卡号', sort: true, width: 110, hide: true }
                    , { field: 'RecruitSource', title: '招聘来源', sort: true, width: 110, hide: true }
                    , { field: 'Material', title: '材料', sort: true, width: 110, hide: true }
                ]],
                page: true
            });
            //头工具栏事件
            table.on('toolbar(emptab)', function (obj) {
                //var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'BatchExport':
                        BatchExportEmps();
                        break;
                };
            });
           
            //日期
            var startTime = laydate.render({
                elem: '#start_time',
                done: function (value, date) {
                    console.log(value);
                    console.log(date);
                    endTime.config.min = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: date.hours,
                        minutes: date.minutes,
                        seconds: date.seconds
                    }
                }
            });
            var endTime = laydate.render({
                elem: '#end_time',
                done: function (value, date) {
                    startTime.config.max = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: date.hours,
                        minutes: date.minutes,
                        seconds: date.seconds
                    }
                }
            });

        });


        //格式化时间
        function GetYearAndMonth(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month;
            } else {
                return "";
            }
        }
        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }
    </script>
</body>
</html>
