
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnswerPage</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    <div>
        <input type="hidden" id="examid" value="@ViewBag.Examid" />
        <input type="hidden" id="studentnumber" value="@ViewBag.Kaohao" />
        <h2 align="center">@ViewBag.Name</h2>
        <div id="biaoji">
            <div id="itemlist">

            </div>

            <hr />
            <div id="Stulist">

            </div>

        </div>

    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


