
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnswerPage</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    <div>
        <input type="hidden" id="examid" value="@ViewBag.Examid" />
        <input type="hidden" id="studentnumber" value="@ViewBag.Kaohao" />
        <h2 align="center">@ViewBag.Name</h2>
        <div id="biaoji">
            <div id="itemlist">

            </div>

            <hr />
            <div id="Stulist">

            </div>

        </div>

    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script type="text/template" id="moban2">
    <div class="answerSheetItem">

        <div>
            <span class="questionIndex">{{=index}}</span> <code style="margin-left:5px; font-size:18px;">{{=question}}</code>&nbsp;&nbsp;(<span class="listScores">{{=scores}}</span>分)
            <input class="scoreitem" type="number" value="0" max="{{=scores}}" placeholder="输入分数" style="margin-left:10px; border-top:0px solid white;border-left:0px solid white;border-right:0px solid white;border-bottom:1px solid black;" />
            <label style=" color:black;font-size:20px;">参考答案:</label>{{=referenceanswer}}
            <div class="Questionanswer" style="display:block; width:1000px; margin-left:50px; background-color:white; margin-top:20px; color:black; font-size:16px; padding:30px;">

                {{=answer}}

            </div>
        </div>

    </div>

</script>

    @*<script>
        layui.use(['layer'], function () {
            var layer = layui.layer;

            var examid = $("#examid").val();
            var studentnumber = $("#studentnumber").val();
            console.log("examid" + examid);
            //加载答卷

            function loadAnswerSheet(examid, studentnumber) {
                console.log(examid);
                console.log(studentnumber);
                var lodindex = layer.load(1); //换了种风格

                $.post("/ExaminationSystem/ExamScores/MarkeAnswerSheetDataes", { examid: examid, StudentNumber: studentnumber }, function (result) {

                    layer.close(lodindex);
                    $("#itemlist").html("");

                    $("#download").remove();

                    if (result.Data.length > 0) {


                        StuExamNumber = result.Data[0].candidinfo.CandidateNumber;
                        TopstudentNumber = result.Data[0].candidinfo.StudentID;
                        if (result.Data[0].isEnd == true) {

                            IsEndSheet = true;

                        }
                    }

                    for (var i = 0; i < result.Data.length; i++) {

                        if (result.Data[0].question != "") {
                            var layerthtml = _.template($("#moban2").html());

                            var label = $("<label></label>");
                            var labels = $("<label style='font-size:18px;'></label>");
                            label.text(result.Data[i].questionTitle.Title);
                            labels.text(result.Data[i].questionTitle.ReferenceAnswer);
                            var layerdata = layerthtml({ index: i + 1, question: document.HTMLDOMtoString(label[0]), scores: result.Data[i].question.questionScores, answer: result.Data[i].question.answer, referenceanswer: document.HTMLDOMtoString(labels[0]) });

                            $("#itemlist").append(layerdata);
                        }

                        if (result.Data[0].question == "") {

                            $("#itemlist").append("<h2 style='text-align:center;'>空</h2>");

                        }

                    }

                    layer.close(lodindex);
                });
            }
            loadAnswerSheet(examid, studentnumber);
        });
    </script>*@


