
@{
    ViewBag.Title = "ExamScoreSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using SiliconValley.InformationSystem.Entity.MyEntity*@
@section style{

    <style>
        #mydiv {
            width: 100%;
        }
    </style>

}

<div id="mydiv">

    <div id="toor">
        <form class="layui-form">

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" lay-filter="date" lay-verify="date" placeholder="yyyy-MM" autocomplete="off" class="layui-input"> 
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">考试</label>
                    <div class="layui-input-inline">
                        <select id="Exam" name="Exam" lay-verify="required" lay-filter="Exam" lay-search="">
                            @*@{
                                foreach (var item in ViewBag.Examlist as List<Examination>)
                                {
                                    <option value="@item.ID">@item.Title</option>
                                }
                            }*@

                        </select>
                    </div>
                </div>
                <div class="layui-inline">

                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <button type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="search" id="search">查询</button>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <button type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="PassRate" id="PassRate">计算班级合格率</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <table class="layui-hide" lay-filter="ExamScores" id="ExamScores"></table>
    <div id="PassRateDiv" style="display:none">
        <form class="layui-form" lay-filter="NanDuid">
            <input id="HeGeLu" style="font-size:110px;color:red;content:contents" type="text" disabled="disabled" />
            @*<button type="button" style="text-align:center;width:68%;" class="layui-btn layui-btn layui-input-block" onclick="TongJi()">统计</button>*@
        </form>
    </div>
</div>

@section script{

    <script type="text/html" id="xuhao">
        {{d.LAY_TABLE_INDEX+1}}
    </script>

    <script>
        var FenShu = "";
        var form;
        layui.use(['laydate','form'], function () {
            var laydate = layui.laydate;
            form = layui.form;
            laydate.render({
                elem: '#date',
                format: 'yyyy-MM',
                type: 'month',
                trigger: 'click',//点击触发
                done: function (value, date, endDate) {
                    var riqi = value;
                    console.log(riqi);
                    $.ajax({
                        url: "/ExaminationSystem/ExamScores/ExamJoinClass",
                        data: { riqi: riqi },
                        dataType: "json",
                        success: function (result) {
                            if (result.ErrorCode == 200) {
                                //清空赋值
                                $("#Exam").empty();

                                $("#Exam").append(new Option("考试", ""));

                                for (var i = 0; i < result.Data.length; i++) {
                               
                                    $('<option value=' + result.Data[i].ID + '>' + result.Data[i].Title + result.Data[i].CurreName + '</option>').appendTo($('#Exam'));
                                 
                                }
                                form.render(); 
                            } else {
                                layer.msg("数据加载错误！", { icon: 2 });
                                $("#Exam").append(new Option("暂无数据", ""));
                            }
                            layui.form.render("select");
                        }
                    }).fail(function (data) {
                        console.log(data);
                    });
                }
                
            });
        });
        layui.use(['table', 'layer', 'form'], function () {
            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;
            
            
            table.render({
                elem: '#ExamScores'
                , url: '/ExaminationSystem/ExamScores/ExamScoreData'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'
                }]
                , id:"ExamScores"
                , title: '学生考试成绩表'
                , cols: [[
                    , { field: 'id', title: '序号', width: 80, fixed: 'left', unresize: true, sort: true, templet: '#xuhao' }
                    , { field: 'ExamTitle', title: '考试名称', width: "13%" }
                    , {
                        field: 'StudentName', title: '学员名称', width: "13%"}

                    , { field: 'StudentClass', title: '当时班级', width: "13%", sort: true }
                    , { field: 'ChooseScore', title: '选择题分数', width: "13%", templet: '<div>{{d.Score.ChooseScore}}</div>'  }
                    , { field: 'TextQuestionScore', width: "13%", title: '解答题分数', templet: '<div>{{d.Score.TextQuestionScore}}</div>' }
                    , { field: 'OnBoard', title: '机试分数', width: "13%", templet: '<div>{{d.Score.OnBoard}}</div>' }
                    , {
                        field: 'zongfen', sort: true, title: '总分', width: "13%", templet: function (res) {

                            var zongfen = res.Score.ChooseScore + res.Score.TextQuestionScore + res.Score.OnBoard
                            FenShu += zongfen + ',';
                            return zongfen;
                        }
                    }

                ]]
                , page: false
            });
            
            layui.form.render("select");

            form.on('submit(search)', function (data) {

                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                console.log(data.field.Exam)
                console.log(data.field.date)
                   if (!data.field.classNumber) {
                    data.field.classNumber = "0";
                }

                table.reload('ExamScores', {
                    url: '/ExaminationSystem/ExamScores/ExamScoreData'
                    , where: {

                        examid: data.field.Exam,
                        classiD: data.field.classNumber
                    } //设定异步数据接口的额外参数
                    //,height: 300
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
            form.on('submit(PassRate)', function (data) {

                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                //console.log(data.field.Exam)
                //console.log(FenShu)
                var Exam = data.field.Exam;
                if (!data.field.classNumber) {
                    data.field.classNumber = "0";
                }
                layer.open({
                    type: 1,
                    title: "合格率统计",
                    area: ["300px", "240px"],
                    content: $('#PassRateDiv'),
                    success: function () {
                        $.post("/ExaminationSystem/ExamScores/ExamPassRate", { Exam: Exam,FenShu: FenShu }, function (result) {
                            if (result.ErrorCode == 200) {
                                layer.msg("统计成功！");
                                console.log(result.Data);

                                $("#HeGeLu").val(result.Data);
                            } else {
                                layer.msg("统计失败！");
                            }
                        })
                    }
                })

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>

}

