@{
    ViewBag.Title = "MarkingPapers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

<link href="~/Content/iconfont.css" rel="stylesheet" />
<script src="~/Content/iconfont.js"></script>
<link href="~/Areas/ExaminationSystem/css/reset.min.css" rel="stylesheet" />
<link href="~/Areas/ExaminationSystem/css/style.css" rel="stylesheet" />
<link rel="shortcut icon" href="/assets/Assets_L1/assets/images/favicon.ico">
<!-- jQuery  -->
<script src="/assets/Assets_L1/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/Assets_L1/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/Assets_L1/assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/Assets_L1/assets/libs/metismenu/metisMenu.min.js"></script>

<!-- App js -->
<script src="/assets/Assets_L1/assets/js/jquery.core.js"></script>
<script src="/assets/Assets_L1/assets/js/jquery.app.js"></script>
<!-- Icons css -->
<link href="~/assets/Assets_L1/assets/libs/mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/Assets_L1/assets/libs/dripicons/webfont/webfont.css" rel="stylesheet" type="text/css" />
<link href="/assets/Assets_L1/assets/libs/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css" />

<!-- App css -->
<!-- build:css -->
<link href="/assets/Assets_L1/assets/css/app.css" rel="stylesheet" type="text/css" />
<!-- endbuild -->
<style>
    .box {
        width: 100%;
        height: 120px;
    }

        .box:hover {
            background-color: #e8eef2;
        }

    .row {
        margin-left: 30px;
    }
    .currentstudent {
        background-color: #ffd800;
    }
    #tipMsg {
        width: 90%;
        height: 40px;
        text-align: center;
        color: darkred;
        font-size: 15px;
        line-height: 40px;
        visibility: hidden;
    }
</style>
<div class="row" style=" border: 1px solid #dcdcdc; display:block;box-sizing: border-box;">
    <div style="background-color: #f3f7fd; padding: 10px 10px 10px 15px; border-bottom: 1px solid #ebeef5; display: block; font-size: 20px;">试卷区</div>
    <div style="width:50%;">
        <div class="box" style=" display: block;text-align: center;border-bottom:solid 5px green">
            <div style="position: relative;font-size:26px;color: #ec661a;line-height:100px;"></div>
            <div id="stayMarkingArea" style="font-size: 22px;line-height: 30px;margin-right:50px">
                <ul class="tayMarkinglist"></ul>
            </div>
        </div>
        <div class="box" style=" display: block;text-align: center; margin-top:-120px;margin-left:710px;border-bottom:solid 5px green">
            <div style="position: relative;font-size: 26px;color: #ec661a;line-height: 50px;"></div>
            <div id="MarkingInfoArea" style="font-size: 16px;line-height: 30px;text-align: center;">

                <label class="infoitem examName" style="color:black;margin-right:200px">考试名称:<span style="color:#009688!important"></span></label>
                <label class="infoitem examDate" style="color:black">考试时间:<span style="color:#009688!important"></span></label>

                <div style="margin-right:100px;margin-bottom:30px;">
                    <label class="infoitem totalPaper" style="color:black;margin-right:200px">试卷总数:<span id="fenliang" style="color:#009688!important"></span></label>
                    @*<label class="infoitem filshPaper" style="color:black">已阅卷数量:<span style="color:#009688!important"></span></label>*@
                </div>
            </div>
        </div>
    </div>

</div>
<div style="height:1500px">
    <table class="table table-hover table-bordered" style="width:280px;margin-left:1180px;margin-top:00px;float:none">
        <tbody>
            <tr>
                <td colspan="2">
                    <a id="YiJian" class="layui-btn layui-btn-danger" style="width:100%;color:white">一键下载机试</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a id="YiJianjd" class="layui-btn layui-btn-danger" style="width:100%;color:white">一键下载解答题</a>
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <a class="layui-btn" style="color:white;width:100%" id="Markingornot">阅卷完毕</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label style="color:black">选择题分数：<span id="choice" style="color:#ff0000"></span></label>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <label style="color:black">解答题分数：<span id="answer" style="color:#ff0000"></span></label>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <label style="color:black">机试题分数：<span id="Machinetest" style="color:#ff0000"></span></label>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <label style="color:black">总&nbsp;&nbsp;&nbsp;&nbsp;分：<span id="zongfen" style="color:#ff0000"></span></label>
                </td>

            </tr>
            <tr>
                <td style="text-align:center;" colspan="2">
                    <h3 style="color:red">记录分数</h3>
                </td>

            </tr>
            <tr>
                <td style="text-align:center;" colspan="2">
                    <label style="color:black">解答题分数:</label><input id="answerScores" class="form-control" style="color:red" />
                </td>
            </tr>
            <tr>
                <td style="text-align:center;" colspan="2">
                    <label style="color:black">机试题分数:</label><input id="computerScores" class="form-control" style="color:red" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label style="color:black">备注：</label><textarea id="scoreRemark" class="form-control" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a id="recordScoresBtn" class="layui-btn layui-btn-danger" style="width:250px;color:white">确定</a>

                </td>
            </tr>
        </tbody>

    </table>
    <div style="margin-left:31px;margin-top:-940px;float:none;width:1140px">
        <table class="layui-hide" lay-filter="ExamScores" id="ExamScores"></table>
    </div>
</div>

<!--模板-->
<script type="text/template" id="moban1">
    @*<li examid="{{=examid}}" examroom="{{=examroomid}}" class="tayMarkingitem"><span>{{=ExamTitle}}</span> --- <span>{{=ExamRoom}}</span> <span class="{{=styleClass}}" style="margin-left:5px;">{{=text}}</span></li>*@
    <li>
    <a name="search" examid="{{=examid}}" examroom="{{=examroomid}}" style="text-decoration: none;" class="tayMarkingitem"><span>{{=ExamTitle}}</span> - <span>{{=ExamRoom}}</span><span class="{{=styleClass}}">{{=text}}</span></a>
    @*<button name="search" examid="{{=examid}}" examroom="{{=examroomid}}" style="text-decoration: none;" class="tayMarkingitem"><span>{{=ExamTitle}}</span> - <span>{{=ExamRoom}}</span><span class="{{=styleClass}}">{{=text}}</span></button>*@
    </li>
</script>


<script type="text/html" id="barDemo">
    {{#if(d.ComputerPaper==null||d.ComputerPaper=="1"||d.ComputerPaper==""){}}
    <a class="layui-btn layui-btn-warm">空</a>
    {{#}else{}}
    <a class="layui-btn layui-btn-danger download" lay-event="download">下载机试</a>
    {{#}}}
</script>
<div id="yincangDiv" style="display:none">
    <form class="layui-form" lay-filter="NanDuid">
        <div class="layui-inline" style="margin-top:30px;">     
            <div class="layui-input-inline">
                <input type="file" id="file" name="excelfile" />
            </div>
        </div>
        <hr />

        <div id="tipMsg">

            错误:文件类型错误

        </div>
        <div style="text-align:center;">
            <button style="width:80%; margin-top:60px;" type="button" lay-submit="" id="commit" lay-filter="submit" class="layui-btn layui-btn-radius layui-btn-primary">录入</button>
        </div>
    </form>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a href="\ExaminationSystem\ExamScores\DownloadModule" class="layui-btn" style="color:white;width:20%">下载模板</a>
        <a class="layui-btn" style="color:white;width:20%" lay-event="OneClickUploadScore" id="OneClickUploadScore">一键上传分数</a>
        <a href="\ExaminationSystem\ExamScores\Marking" class="layui-btn layui-btn-danger" style="color:white;width:20%">跳转查看笔试</a>
    </div>
</script>
@section script{
    <script src="~/Scripts/underscore.js"></script>
    <script>
        var formdata = new FormData();
        var Sheetindex = 0;
        var StuExamNumber; //学员考号
        var TopstudentNumber;
        var Examid; //考试ID
        var ExamRoom; // 考是（教室ID）StuExamNumberStuExamNumber
        var IsEndSheet = false; //是否为最后一个答卷
        function escapeHTMLString(str) {
            str = str.replace(/</g, '&lt;');
            str = str.replace(/>/g, '&gt;');
            return str;
        }

        if (!document.HTMLDOMtoString) {
            document.HTMLDOMtoString = function (HTMLDOM) {
                const div = document.createElement("div");
                div.appendChild(HTMLDOM);
                return div.innerHTML;
            }
        }
        function flushStuStatu(stuNumber) {
            $("#Stulist .stuBtn").each(function (index, elem) {

                var cstunumber = $(this).attr("stuNumber");
                if (cstunumber == TopstudentNumber) {

                    $(elem).find("span").text("已阅");
                    $(elem).find("span").attr("class", "layui-badge layui-bg-gray");

                    return;
                }

            });
        }
        function SetErrorMsg(msg) {

            $("#tipMsg").text(msg);

            $("#tipMsg").css("visibility", 'visible');
        }
        layui.use(['layer', 'table', 'form'], function () {
            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;



            table.render({
                elem: '#ExamScores'
                , url: '/ExaminationSystem/ExamScores/StudentList'
                , toolbar: '#toolbarDemo'
                , title: '学生名单'
                , cols: [[
                    , { field: 'StudentID', title: '序号', width: "20%", sort: true }
                    , { field: 'StudentName', title: '学员名称', width: "22%"}
                    , {
                        field: 'IsReExam', title: '是否已阅', width: "22%", templet: function (data) {
                            
                            if (data.IsReExam == false) {
                               
                                return "<text style='color:chartreuse'>未阅</text>";
                            }
                            else {
                                
                                return "<text style='color:darkgray'>已阅</text>";
                            }

                        } }
                    , {
                        field: 'Paper', title: '笔试', width: "12%", templet: function (data) {

                            if (data.Paper == "" || data.Paper == null) {

                                return "没有";
                            }
                            else {
                                return "有";
                            }

                        }}
                    , {
                        field: 'ComputerPaper', title: '机试', width: "12%", templet: function (data) {

                            if (data.ComputerPaper == "" || data.ComputerPaper == "1" || data.ComputerPaper == null) {

                                return "没有";
                            }
                            else {
                                return "有";
                            }

                        }
                    } 
                    , { field: 'right', title: '操作', width: "27%", toolbar: '#barDemo' }
                ]]
            });
            layui.form.render("select");

            
             //监听行工具事件
            table.on('tool(ExamScores)', function(obj){
                var data = obj.data;
                StuExamNumber = obj.data.StudentID;
                if (obj.event === 'download') {
                    $('.download').attr('href', "/ExaminationSystem/ExamScores/DownloadComputerSheet?examid="+ Examid + "&kaohao=" + StuExamNumber); 

                  }
            });
            //监听行双击事件
            table.on('rowDouble(ExamScores)', function (obj) {
                console.log(obj.data);
                console.log(obj.data.StudentID);
                StuExamNumber = obj.data.StudentID;
                $("#answerScores").val("0");
                $("#computerScores").val("0");
                TotalScore(Examid, obj.data.StudentID);
            });
            //头工具栏事件
            table.on('toolbar(ExamScores)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'OneClickUploadScore':
                        layer.open({
                            type: 1,
                            title: "上传",
                            area: ["600px", "400px"],
                            content: $('#yincangDiv'),
                            success: function () {

                            }
                        });
                        break;
                };
            });
            //选择文件之后的函数
            $("#file").change(function (data) {


                var file = this.files[0];

                if (file == undefined) {
                    formdata.set("excelfile", undefined);
                    SetErrorMsg("请选择文件");
                    return;

                }
                console.log(file);
                //判断文件类型  application/vnd.ms-excel 或者 application/vnd.openxmlformats-officedocument.spreadsheetml.sheet

                if (file.type != 'application/vnd.ms-excel' && file.type != 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
                    formdata.set("excelfile", undefined);
                    SetErrorMsg("错误：文件类型错误  提示：文件类型为 xls、xlsx");

                    return;
                }
                // 判断文件大小

                var filesize = file.size;

                if (filesize <= 1024 * 3) {
                    formdata.set("excelfile", undefined);
                    SetErrorMsg("错误：文件内容过小");
                    return;
                }

                formdata.set("excelfile", file);

                $("#tipMsg").css("visibility", 'hidden');

            });
            //一键提交分数
            form.on('submit(submit)', function (data) {
                if (formdata.get("excelfile") == undefined) {

                    formdata.set("excelfile", undefined);

                    SetErrorMsg("请选择文件");

                    return;
                }

                $("#tipMsg").css("visibility", 'hidden');
                console.log(formdata);
                $.ajax({
                    url: '/ExaminationSystem/ExamScores/DocumentUpload',
                    type: 'POST',
                    data: formdata,
                    dataType: 'JSON',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        layer.close(loadindex);
                        if (data.ErrorCode = 200) {

                            var msg = "录入成功!  录入数量：" + data.Data;
                            layer.msg(msg, {
                                icon: 1,
                                time: 3000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        console.log(textStatus);
                    }
                });
            })
            //加载待阅卷试卷
            $.post('/ExaminationSystem/ExamScores/MarkeData', {}, function (result) {
                if (result.ErrorCode == 200) {
                    for (var i = 0; i < result.Data.length; i++) {

                        var layerthtml = _.template($("#moban1").html());
                        var ExamTitle = result.Data[i].markingView.ExamID.Title;
                        var ExamRoom = result.Data[i].markingView.ID;
                        var examIsEnd = result.Data[i].ExamIsEnd;
                        var styleClass;
                        var text;
                        if (examIsEnd == true) {
                            styleClass = "layui-badge layui-bg-orange";
                            text = "待阅";
                        }
                        else {
                            styleClass = "layui-badge layui-bg-black";
                            text = "考试未结束";
                        }


                        var layerdata = layerthtml({ ExamTitle: ExamTitle, ExamRoom: ExamRoom, styleClass: styleClass, text: text, examid: result.Data[i].markingView.ExamID.ID, examroomid: result.Data[i].markingView.ExamRoom.Classroom_Id });

                        $("#stayMarkingArea  .tayMarkinglist").append(layerdata);
                    }
                }
            });

            
            //3:点击加载阅卷信息及人员名单
            $(document).off("click", ".tayMarkinglist .tayMarkingitem").on("click", '.tayMarkinglist .tayMarkingitem', function () {
                // 1首先判断考试是否结束   2考试结束才加载考场信息
                //1判断考试是否结束
                //获取考试ID
                
                var examid = $(this).attr("examid");
                var examroom = $(this).attr("examroom");
                //classiD: examroom
                table.reload('ExamScores', {
                    url: '/ExaminationSystem/ExamScores/StudentList'
                    , where: {
                        examid: examid,
                        
                    } //设定异步数据接口的额外参数
                    //,height: 300
                });
                //return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。

                $.post("/ExaminationSystem/ExamScores/ExamIsEnd", { examid: examid }, function (result) {

                    if (result.ErrorCode == 200) {

                        if (result.Data == true) {

                            $("#biaoji").slideDown();

                            $(".tianchong").hide();

                            //考试信息 考场信息 试卷数量 以阅卷数量
                            $.post("/ExaminationSystem/ExamScores/MarkeDatax", { examid: examid, examroom: examroom }, function (data) {
                                
                                Examid = data.Data.exam.ID;
                                ExamRoom = data.Data.examroom.Classroom_Id;
                                $("#MarkingInfoArea .examName").find("span").text(data.Data.exam.Title);

                                var examdate = data.Data.exam.BeginDate;



                                var dateutc = examdate.substr(examdate.indexOf("(") + 1, 13);
                                var date = new Date(parseInt(dateutc));

                                var year = date.getFullYear(); var month = date.getMonth() + 1; var day = date.getDate(); var hours = date.getHours(); var minus = date.getMinutes();

                                $("#MarkingInfoArea .examDate").find("span").text(year + '年' + month + '月' + day + '日--' + hours + '时' + minus + '分');

                                $("#MarkingInfoArea .totalPaper").find("span").text(data.Data.total.length);

                                //$("#MarkingInfoArea .filshPaper").find("span").text(parseInt(data.Data.total.length) - data.Data.NoScoresCount.length);

                                

                                //loadStuData(Examid, ExamRoom);

                                //TotalScore(Examid, StuExamNumber);
                                

                                $("#stulist").show();

                            });



                        }
                        else {
                            layer.msg('考试还未结束。。', { icon: 2 });
                        }

                    }
                    else {
                        layer.msg('服务器错误。。', { icon: 2 });
                    }

                });
            });
            

            })
                //一键下载机试题
                $(document).off("click", "#YiJian").on("click", "#YiJian", function () {
                   
                    layer.msg("功能优化中");
        })
                //一键下载解答题
                    $(document).off("click", "#YiJianjd").on("click", "#YiJianjd", function () {
                        var lodindex = layer.load(1);
                        $.post("/ExaminationSystem/ExamScores/Exporter", { examid: Examid }, function () {
                            
                                layer.msg("前去C盘查收！");
                            })
                        layer.close(lodindex);
                })
                //提交分数               
                $(document).off("click", "#recordScoresBtn").on("click", '#recordScoresBtn',function () {
                    //获取分数
                    var answerScores = $("#answerScores").val();
                    var computerScores = $("#computerScores").val();
                    var remark = $("#scoreRemark").val();

                    
                    $.post("/ExaminationSystem/ExamScores/CommitScores", { examid: Examid, StuExamNumber: StuExamNumber, answerScores: answerScores, computerScores: computerScores, remark: remark }, function (result) {

                        if (result.ErrorCode == 200) {


                            layer.msg('记录成功', { icon: 1 }, function () {
                                layer.close(index);
                                TotalScore(Examid, StuExamNumber)
                            });
                            
                            

                        }

                    });

                }
                );     
                //点击阅卷完毕
                $(document).off("click", "#Markingornot").on("click", '#Markingornot', function () {
                    layer.confirm('是否确定阅卷完毕,完毕之后将不能继续阅卷！', function (index) {
                        $.post("/ExaminationSystem/ExamScores/Endofmarking", { examid: Examid, examroom: ExamRoom }, function (date) {
                            if (date.ErrorCode == 200) {
                                layer.msg("阅卷成功！");
                                location.href = "/ExaminationSystem/ExamScores/MarkingPapers";
                            } else {
                                layer.msg("阅卷失败！");
                            }
                        })
                        layer.close(index);
                    })

            });
                //加载右边表格的数据
                function TotalScore(Examid, StuExamNumber) {
                $.post("/ExaminationSystem/ExamScores/StuScores", { examid: Examid, StuExamNumber: StuExamNumber }, function (data) {
                    //初始化分数
                    if (data.ErrorCode == 200) {
                        //选择题
                        var choicequestion = data.Data.ChooseScore;
                        //解答题
                        var answerScoress = data.Data.TextQuestionScore;
                        //机试题
                        var computerScores = data.Data.OnBoard;
                        // 总分
                        var TotalScore = data.Data.ChooseScore + data.Data.TextQuestionScore + data.Data.OnBoard;

                        $("#choice").html(choicequestion);
                        $("#answer").html(answerScoress);
                        $("#Machinetest").html(computerScores);
                        $("#zongfen").html(TotalScore);
                    }


                });
            }

    </script>
}