
@{
    ViewBag.Title = "AdminHomeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<script src="~/Scripts/echarts.min.js"></script>
<script src="~/Scripts/layui/layui.js"></script>
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

<style>
    .grid-demo-bg1 {
        border: 1px solid #E6E6E6;
        height: 150px;
        /*position: absolute;*/
        text-align: center;
        line-height: 150px;
        font-size: 18px;
    }

    .grid-demo-bg2 {
        font-size: 18px;
        /*border: 1px solid #f00;*/
        height: 600px;
    }

    .grid-demo-bg1 {
        background-color: #fff;
    }

        .grid-demo-bg1:hover {
            background-color: #E6E6E6;
        }

    .ab-1 {
        /*border: 1px solid #f00;*/
        text-align: center;
        line-height: 80px;
        height: 50%;
    }

    .ab-2 {
        /*border: 1px solid #f00;*/
        text-align: center;
        line-height: 80px;
        height: 50%;
    }

    #maxDiv {
        overflow: auto;
        height: 683px;
    }

    .yidong {
        /*border: 1px solid #f00;*/
        height: 180px;
        text-align: center;
        letter-spacing: 5px;
        line-height: 50px
    }

    .banji {
        /*border: 1px solid #f00;*/
        text-align: center;
        line-height: 100px;
        height: 100px;
    }

    .xiangmu {
        /*border: 1px solid #f00;*/
        text-align: center;
        line-height: 100px;
        height: 100px;
    }

    .gongyu {
        /*border: 1px solid #f00;*/
        text-align: center;
        line-height: 100px;
        height: 100px;
    }

    a {
        color: black;
    }

        a:hover {
            color: #00C6D7;
        }

</style>




<div class="layui-row">
    <div style="background-color: #00C6D7; padding: 10px 10px 10px 15px; border-bottom: 1px solid #ebeef5; display: block; font-size: 20px;color:white">
        数据统计
    </div>
    <div class="layui-col-sm2">
        <div class="grid-demo grid-demo-bg1"><span class="fa fa-user-circle-o"></span><a href="#">在校人数总计:1500人</a></div>
    </div>
    <div class="layui-col-sm2">
        <div class="grid-demo grid-demo-bg1"><span class="fa fa-building-o"></span> <a href="#">宿舍住宿人数:1500人</a></div>
    </div> 
    <div class="layui-col-sm2">
        <div class="grid-demo grid-demo-bg1">
            <div class="ab-1"><a href="#"><span class="fa fa-wpforms"></span>自考本科人数:800人</a></div>
            <div class="ab-1"><a href="#"><span class="fa fa-graduation-cap"></span>成人高考:500人</a></div>
        </div>
    </div>
    <div class="layui-col-sm2">
        <div class="grid-demo grid-demo-bg1">
            <div class="ab-2"><span class="fa fa-bar-chart"></span><a href="#">S1考试合格率:80%</a></div>
            <div class="ab-2"><span class="fa fa-bar-chart"></span><a href="#">S2考试合格率:100%</a></div>
        </div>
    </div>
    <div class="layui-col-sm2">
        <div class="grid-demo grid-demo-bg1">
            <div class="ab-2"><span class="fa fa-paper-plane-o"></span><a href="#">企业总联系数量:3600家</a></div>
            <div class="ab-2"><span class="fa fa-paper-plane"></span><a href="#">建立企业合作总数量:300家</a></div>
        </div>

    </div>
    <div class="layui-col-sm2">
        <div class="grid-demo grid-demo-bg1"><span class="fa fa-renren"></span><a href="#">学生总就业率:80%</a></div>
    </div>

</div>

<div class="layui-row">
    <div class="layui-col-sm5">
        <div class="layui-bg-gray" style="padding: 15px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-card">
                    <div class="layui-card-header">就业部企业访问数统计</div>
                    <div class="layui-card-body">
                        <div class="grid-demo grid-demo-bg2" id="bin_tu">
                            @*<ul class="flow-default" id="LAY_demo1"></ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="layui-col-sm5">
        <div class="layui-bg-gray" style="padding: 15px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-card">
                    <div class="layui-card-header">湖南硅谷阶段升学数据分析</div>
                    <div class="layui-card-body">
                        <div class="grid-demo grid-demo-bg2" id="mian"></div>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="layui-col-sm2" style="padding:7px;">
        <div class="grid-demo grid-demo-bg2" id="maxDiv">

            <div class="layui-bg-gray" style="padding: 10px;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-card">
                        <div class="layui-card-header">学员异动数据分析</div>
                        <div class="layui-card-body">
                            <div class="yidong">
                                <div><span class="fa fa-window-close"></span><a href="#">开除:50人</a></div>
                                <div><span class="fa fa-minus-square"></span><a href="#">退学:20人</a></div>
                                <div><span class="fa fa-check-square"></span><a href="#">休学:50人</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-bg-gray" style="padding: 10px;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-card">
                        <div class="layui-card-header">学院班级总数量</div>
                        <div class="layui-card-body">
                            <div class="banji">
                                <div class="banji">
                                    <div><span class="fa fa-tags"></span><a href="#">班级总计:50班级</a></div>
                                </div>
                            </div>
                             
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-bg-gray" style="padding: 10px;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-card">
                        <div class="layui-card-header">就业城市公寓总数量</div>
                        <div class="layui-card-body">
                            <div class="banji">
                                <div class="gongyu">
                                    <div><span class="fa fa-building"></span><a href="#">公寓总计:50个</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-bg-gray" style="padding: 10px;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-card">
                        <div class="layui-card-header">学院项目答辩总数量</div>
                        <div class="layui-card-body">
                            <div class="banji">
                                <div class="xiangmu">
                                    <div><span class="fa fa-pie-chart"></span><a href="#">项目答辩总计:50场</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



<script>
    var myChart = echarts.init(document.getElementById('mian'));
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['Y1', 'Ca', 'S1', 'S2', 'S3'],
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '升学率',
                type: 'bar',
                barWidth: '60%',
                data: [10, 52, 20, 34, 50, 50, 20]
            }
        ]
    };
    myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.getElementById('bin_tu'));
    var option = {
        title: {
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
        },
        series: [
            {
                name: '企业数据访问量',
                type: 'pie',
                radius: '50%',
                data: [
                    { value: 1048, name: '周炯' },
                    { value: 735, name: '杨雪' },
                    { value: 580, name: '何强' },
                    { value: 484, name: '石一磊' },
                    { value: 300, name: '周峰' }
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option);

</script>

