
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/Images/Login/shoye.jpg" style="width:1690px;height:850px;margin-left:-23px;margin-top:-23px;" />
<span hidden id="dept">@ViewBag.Dept</span>

<div id="divdata" style="display:none">

</div>

<script>
    $(function () {
        var dept = $("#dept").text();
        if (dept == "6") {
            layui.use('layer', function () {
                var layer = layui.layer;
                $.ajax({
                    url: "/Base_SysManage/Base_SysMenu/CheckDormState",
                    success: function (res) {
                        if (res) {
                            $.ajax({
                                url: "/DormitoryMaintenance/DormitoryDeposit/CheckheadGetStu",
                                type:'post',
                                success: function (data) {
                                    $.each(data.data, function (index, ele) {
                                        $("#divdata").append("<p>班级：" + ele.Text+"    姓名："+ele.Value+"</p>");
                                    });
                                    if (data.count>0) {
                                        layer.open({
                                            type: 1,
                                            content: $('#divdata'), //这里content是一个普通的String
                                            offset: 'rb',
                                            area: ['400px', '300px'],
                                            btn: ['前往查看']
                                            , yes: function (index, layero) {
                                                console.log(1);
                                                window.location.href  = "/DormitoryMaintenance/DormitoryDeposit/ClassStudentMoneyView";
                                            }
                                        });
                                    }
                                }
                            });
                        }
                        
                    }
                });
            });
        }
        
    });
</script>