
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManualReconcileViewTwo</title>

    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        #but1
        {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }


        #Nation
        {
            width: 100px;
        }

        

 

        .mm
        {
            border: 1px solid black;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .layButCss1
        {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }
 

        .AreCss1
        {
            width: 97%;
            height: 100px;
        }
   
        .IconCss
        {
            position: absolute;
            top: 2px;
            font-size: 30px;
            color: #009688;
            right:0%;
        }
    </style>
</head>
<body>
    <form class="layui-form" style="margin-top:20px;width:90%;margin-left:auto;margin-right:auto;" lay-filter="manual_form">
        <div class="layui-row layui-form-item">
            <div class="layui-col-x6 layui-col-sm6 layui-col-md6">
                <label class="layui-form-label">阶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 段:</label>
                <div class="layui-input-block">
                    @Html.DropDownList("childview_grand", ViewBag.Child_grandlist as IEnumerable<SelectListItem>, new Dictionary<string, object> { { "class", "layui-unselect linu" }, { "lay-filter", "childview_grand" } })
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                <label class="layui-form-label">班 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 级:</label>
                <div id="class_childdiv" class="layui-input-block">

                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="layui-form-label">课程名称:</label>
                <div id="childviewcurr_div" class="layui-input-block">

                </div>
            </div>

        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                <label class="LableCss1">上课日期:</label>
                <div class="layui-input-block">
                    <input type="text" name="childview_AnpiDate" id="childview_AnpiDate" class="layui-input" />
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                <label class="LableCss1">上课时间:</label>
                <div class="layui-input-block">
                    <select id="childview_timetype" lay-filter="childview_timetype" name="childview_timetype">
                        <option value="0">--请选择--</option>
                        <option value="上午12节">上午1/2节</option>
                        <option value="上午34节">上午3/4节</option>
                        <option value="下午12节">下午1/2节</option>
                        <option value="下午34节">下午3/4节</option>
                        <option value="上午">上午4节</option>
                        <option value="下午">下午4节</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">查询老师:</label>
                <div id="childteacher_div" class="layui-input-block">
                    @*@Html.DropDownList("childview_teacher", ViewBag.Teacher as List<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-input linu" } })*@
                    @*<input class="layui-input" type="text" placeholder="任课老师名称" name="childview_teacher" id="childview_teacher" /><i class="layui-icon">&#xe615;</i>*@
                    <input class="layui-input" type="text" placeholder="任课老师名称" name="Teache_Ser" id="Teache_Ser" /><i id="Geiteachericon" class="layui-icon IconCss">&#xe615;</i>
                </div>
            </div>

        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">选择老师:</label>
                <div id="selecteacher_div" class="layui-input-block">
                    
                </div>
            </div>

        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">校 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 区:</label>
                <div class="layui-input-block">
                    @Html.DropDownList("childschooladdress", ViewBag.schooladdress as IEnumerable<SelectListItem>, new Dictionary<string, object> { { "class", "layui-unselect linu" }, { "lay-filter", "childschool" } })
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="layui-form-label">教 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 室:</label>
                <div class="layui-input-block">
                    <div class="layui-collapse" lay-accordion>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" style="background-color:rgba(255,255,255,0.2)">教室选择区:</h2>
                            <div class="layui-colla-content" id="childvieroom_div">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="layui-form-label">备 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 注:</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="childview_reak" id="childview_reak"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item" style="margin-top:60px;">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <div style="width:47%;float:left;text-align:right">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="childview_add">提交</button>
                </div>
                <div style="width:45%;float:left;margin-left:60px">
                    <input type="button" class="layui-btn" value="关闭" id="closebtn" />
                </div>
            </div>
        </div>
    </form>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.js"></script>
    <script>   
        $(function () {
            var form;
            var laydate;
            var element;
            var layer;


            layui.use(['form', 'laydate', 'element'], function () {
                form = layui.form;
                laydate = layui.laydate;
                element = layui.element;
                layer = layui.layer;
                laydate.render({
                    elem: '#childview_AnpiDate',
                    done: function (value) {
                        //清空教室跟任课老师
                        $("#childvieroom_div")[0].innerHTML = "";
                        $("#childvieroom_div")[0].innerHTML = "";
                        form.val("manual_form", {
                            "childview_timetype": "0"
                        });
                        form.render();
                    }
                });
                var classnumber = 0;
                //阶段点击事件(获取班级,课程)
                form.on('select(childview_grand)', function (data) {
                    $("#class_childdiv")[0].innerHTML = "";
                    $("#childviewcurr_div")[0].innerHTML = "";
                    if (data.value != "0") {
                        //根据阶段获取班级列表
                        $.ajax({
                            url: '/Educational/Reconcile/GetClassScheduleSelect/' + data.value,
                            success: function (sudata) {
                                //获取班级slect
                                var child_class = $('<select id="child_class" name="child_class" class="layui-select" lay-filter="class_child"><option value="0" selected>--请选择--</option></select>');
                                for (var i = 0; i < sudata.length; i++) {
                                    $('<option value=' + sudata[i].id + '>' + sudata[i].ClassNumber + '<option>').appendTo(child_class);
                                }

                                $("#class_childdiv").append(child_class);
                                form.render(); //更新全部
                            }
                        });
                        //根据阶段获取课程
                        $.ajax({
                            url: '/Educational/Reconcile/GetGrandCurrr/' + data.value,
                            success: function (sudata) {
                                var cur_div = $("#childviewcurr_div");
                                for (var i = 0; i < sudata.length; i++) {
                                    $('<input value=' + sudata[i].Value + ' type="radio" name="currname" id="currname" title="' + sudata[i].Text + '" lay-skin="primary">').appendTo(cur_div);
                                }
                                form.render(); //更新全部
                            }
                        })
                    }
                });

                //监听提交
                form.on('submit(childview_add)', function (data) {
                    var currname = $("#childview_currname").val();
                    console.log(currname);
                    if (data.field.child_class == undefined) {
                        layer.msg("请选择班级!!!", { icon: 2, shade: 0.8 });
                    } else if (data.field.childview_currname == undefined || data.field.childview_currname == "" || data.field.childview_currname == "--请选择--") {
                        layer.msg("请选择或填写课程!!!", { icon: 2, shade: 0.8 });
                    } else if (data.field.childview_AnpiDate == "") {
                        layer.msg("请选择上课日期!!!", { icon: 2, shade: 0.8 });
                    } else if (data.field.childview_timetype == "0" && data.field.childview_Currtype != "0") {
                        layer.msg("请选择上课时间段!!!", { icon: 2, shade: 0.8 });
                    } else if (data.field.childview_Currtype == "专业课" && (data.field.childview_room == undefined || data.field.childview_room == "0")) {
                        layer.msg("请选择教室!!!", { icon: 2, shade: 0.8 });
                    } else {
                        var indexof = layer.load(1);
                        //提交数据
                        $.ajax({
                            url: '/Educational/Reconcile/AddHandDataFunction',
                            type: 'POST',
                            data: data.field,
                            success: function (suc) {
                                if (suc == "ok") {
                                    layer.close(indexof);
                                    layer.msg('操作成功！！！', { icon: 1, shade: 0.8 }, function () {
                                        //刷新表单
                                        // window.parent.TableFulsh();
                                        //关闭弹出层
                                        //Myclose();
                                    });
                                } else {
                                    layer.close(indexof);
                                    layer.msg(suc, { icon: 2, shade: 0.8 });
                                }
                            }
                        });
                    }

                    return false;
                });
                //获取空教室
                form.on('select(childschool)', function (data) {
                    $("#childvieroom_div")[0].innerHTML = "";
                    var timedate = $("#childview_AnpiDate").val();
                    var timename = $("#childview_timetype").val();
                    if (timedate.length <= 0) {
                        form.val("manual_form", {
                            "childschooladdress": "0"
                        });
                        layer.msg('请选择日期!!!', { icon: 2, shade: 0.8 });
                    } else if (timename == "0") {
                        form.val("manual_form", {
                            "childschooladdress": "0"
                        });
                        layer.msg('请选择上课时间段!!!', { icon: 2, shade: 0.8 });
                    } else if (data.value == "0") {
                        form.val('manual_form', { "childschooladdress": "0" });
                        layer.msg('请选择校区!!!', { icon: 2, shade: 0.8 });
                    } else {
                        var indexx = layer.load(1);
                        var formvalue = form.val("manual_form");
                        if (formvalue.childview_Currtype == "0") {
                            //加载某个校区的所有教室
                            $.ajax({
                                url: '/Educational/Reconcile/GetSchoolEmptyRoom',
                                data: { "schooldaddressval": data.value },
                                type: 'POST',
                                success: function (suc) {
                                    if (suc.Data.length > 0) {
                                        for (var i = 0; i < suc.Data.length; i++) {
                                            $('<input class="layui-input" type="radio" name="childview_room" id="childview_room" value=' + suc.Data[i].Value + '  title=' + suc.Data[i].Text + '>').appendTo($("#childvieroom_div"));

                                        }
                                        form.render();
                                    }
                                    layer.close(indexx);
                                }
                            });
                        } else {
                            //只加载某个校区的空教室
                            $.ajax({
                                url: '/Educational/Reconcile/GetEmptyRoom',
                                data: { "timename": timename, "date": timedate, "schoolId": data.value },
                                type: 'POST',
                                success: function (suc) {
                                    if (suc.length > 0) {
                                        for (var i = 0; i < suc.length; i++) {
                                            $('<input class="layui-input" type="radio" name="childview_room" id="childview_room" value=' + suc[i].Value + '  title=' + suc[i].Text + '>').appendTo($("#childvieroom_div"));
                                        }
                                        form.render();
                                    }
                                    layer.close(indexx);
                                }
                            });
                        }

                    }


                });

                //通过用户输入的老师获取老师

            });
            //关闭弹出层
            $("#closebtn").click(function () {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            });

            $("#Geiteachericon").click(function () {
                var Teache_Ser = $("#Teache_Ser").val();
                if (Teache_Ser.length <= 0) {
                    layer.msg('请输入教员姓名！');
                } else {
                    var ddinde = layer.load(1);
                    $.ajax({
                        url: '/Educational/TeacherNight/TeacherSerch',
                        data: { "teachername": Teache_Ser },
                        type: 'POST',
                        success: function (sucdata) {
                            $("#selecteacher_div")[0].innerHTML = "";
                            for (var i = 0; i < sucdata.Data.length; i++) {
                                $('<input type="radio" name="Teacherid" value="' + sucdata.Data[i].Value + '" title="' + sucdata.Data[i].Text + '">').appendTo($("#teachDiv"));
                            }
                            layer.close(ddinde);
                            form.render();
                        }
                    });
                }

            });
        });
         
    </script>
</body>
</html>
