
@{
    ViewBag.Title = "TeacherReconfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="test" lay-filter="test"></table>

<script>
    $(function () {
        var table;
        layui.use([''], function () {

            ]);
    });
</script>

